body{
	font-family: 'Mallanna', sans-serif;
	background-image: url("way1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.principaltext{
	margin-top: 500px;
	text-align: center;
	font-size: 50px;
	color: white;
}



.btn-outline-light{
	font-size: 20px;
}